
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Chi tiết danh mục sản phẩm
}
@model FlatShop.Models.EF.ProductCategory
<div class="panel panel-default">
    <div class="panel-heading">
        Chi tiết danh mục sản phẩm
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>ID</td>
                        <td>@Model.ID</td>
                    </tr>
                    <tr>
                        <td>Tên danh mục</td>
                        <td>@Model.Name</td>
                    </tr>
                    <tr>
                        <td>MetaTitle</td>
                        <td>@Model.MetaTitle</td>
                    </tr>
                    <tr>
                        <td>Menu</td>
                        <td>@Model.ParentID</td>
                    </tr>
                    <tr>
                        <td>Thứ tự hiển thị</td>
                        <td>@Model.DisplayOrder</td>
                    </tr>
                    <tr>
                        <td>Trạng thái</td>
                        <td>@Model.Status</td>
                    </tr>
                </tbody>
                <tfoot>
                    <a class="btn btn-primary" href="/Admin/ProductCategory/Index" style="margin-right:20px;">Trở lại</a>
                    <a class="btn btn-primary" href="/Admin/ProductCategory/Update/@Model.ID">Sửa</a>
                </tfoot>
            </table>
        </div>
        <!-- /.table-responsive -->
        <div class="row">

        </div>
    </div>
    <!-- /.panel-body -->
</div>



