
@{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
}
    @section css{
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/Assets/Client/images/favicon.png">
    <title>
        Welcome to FlatShop
    </title>
    <link href="/Assets/Client/css/bootstrap.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700,500italic,100italic,100' rel='stylesheet' type='text/css'>
    <link href="/Assets/Client/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/Assets/Client/css/flexslider.css" type="text/css" media="screen" />
    <link href="/Assets/Client/css/style.css" rel="stylesheet" type="text/css">
}

@section script{
    script type="text/javascript" src="js/jquery-1.10.2.min.js">
    </script>
    <script type="text/javascript" src="/Assets/Client/js/bootstrap.min.js">
    </script>
    <script defer src="/Assets/Client/js/jquery.flexslider.js">
    </script>
    <script type="text/javascript" src="/Assets/Client/js/jquery.carouFredSel-6.2.1-packed.js">
    </script>
    <script type="text/javascript" src="/Assets/Client/js/script.min.js">
    </script>
}

@model FlatShop.Models.EF.MoreEF.Registry
<div class="container_fullwidth">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="special-deal leftbar" style="margin-top:0;">
                    <h4 class="title">
                        <strong>
                            Ưu đãi
                        </strong>
                        Đặc biệt
                    </h4>
                    <div class="special-item">
                        <div class="product-image">
                            <a href="details.html">
                                <img src="/Assets/Client/images/products/thum/products-01.png" alt="">
                            </a>
                        </div>
                        <div class="product-info">
                            <p>
                                <a href="details.html">
                                    Licoln Corner Unit
                                </a>
                            </p>
                            <h5 class="price">
                                $300.00
                            </h5>
                        </div>
                    </div>
                    <div class="special-item">
                        <div class="product-image">
                            <a href="details.html">
                                <img src="/Assets/Client/images/products/thum/products-02.png" alt="">
                            </a>
                        </div>
                        <div class="product-info">
                            <p>
                                <a href="details.html">
                                    Licoln Corner Unit
                                </a>
                            </p>
                            <h5 class="price">
                                $300.00
                            </h5>
                        </div>
                    </div>
                    <div class="special-item">
                        <div class="product-image">
                            <a href="details.html">
                                <img src="/Assets/Client/images/products/thum/products-03.png" alt="">
                            </a>
                        </div>
                        <div class="product-info">
                            <p>
                                <a href="details.html">
                                    Licoln Corner Unit
                                </a>
                            </p>
                            <h5 class="price">
                                $300.00
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="product-tag leftbar">
                    <h3 class="title">
                        Products
                        <strong>
                            Tags
                        </strong>
                    </h3>
                    <ul>
                        <li>
                            <a href="#">
                                Lincoln us
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                SDress for Girl
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Corner
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Window
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                PG
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Oscar
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Bath room
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                PSD
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="get-newsletter leftbar">
                    <h3 class="title">
                        Gửi
                        <strong>
                            Thư
                        </strong>
                    </h3>
                    <p>
                        Casio G Shock Digital Dial Black.
                    </p>
                    <form>
                        <input class="email" type="text" name="" placeholder="Email của bạn...">
                        <input class="submit" type="submit" value="Gửi">
                    </form>
                </div>
                <div class="fbl-box leftbar">
                    <h3 class="title">
                        Facebook
                    </h3>
                    <span class="likebutton">
                        <a href="#">
                            <img src="/Assets/Client/images/fblike.png" alt="">
                        </a>
                    </span>
                    <p>
                        12k people like Flat Shop.
                    </p>
                    <ul>
                        <li>
                            <a href="#">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            </a>
                        </li>
                    </ul>
                    <div class="fbplug">
                        <a href="#">
                            <span>
                                <img src="/Assets/Client/images/fbicon.png" alt="">
                            </span>
                            Facebook social plugin
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="checkout-page">
                    <ol class="checkout-steps">

                        <li class="steps active">
                            <a href="/Client/User/Register" class="step-title">
                                Đăng ký
                            </a>
                            <div class="step-description">
                                <form method="post" action="/Registry/Index" >
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="your-details">
                                                <h5>
                                                    Chi tiết thông tin cá nhân
                                                </h5>
                                                <div class="form-row">
                                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-row">
                                                    <label class="lebel-abs">
                                                        Họ và Tên
                                                        <strong class="red">
                                                            *
                                                        </strong>
                                                    </label>
                                                    <input type="text" class="input namefild" name="Name">
                                                    @Html.ValidationMessageFor(x => x.Name)
                                                </div>
                                                <div class="form-row">
                                                    <label class="lebel-abs">
                                                        Email
                                                        <strong class="red">
                                                            *
                                                        </strong>
                                                    </label>
                                                    <input type="text" class="input namefild" name="Email">
                                                    @Html.ValidationMessageFor(x => x.Email)
                                                </div>
                                                <div class="form-row">
                                                    <label class="lebel-abs">
                                                        Số điện thoại
                                                        <strong class="red">
                                                            *
                                                        </strong>
                                                    </label>
                                                    <input type="text" class="input namefild" name="Phone">
                                                    @Html.ValidationMessageFor(x => x.Phone)
                                                </div>


                                                <div class="pass-wrap">
                                                    <div class="form-row">
                                                        <label class="lebel-abs">
                                                            Password
                                                            <strong class="red">
                                                                *
                                                            </strong>
                                                        </label>
                                                        <input type="password" class="input namefild" name="Password">
                                                        @Html.ValidationMessageFor(x => x.Password)
                                                    </div>
                                                    <div class="form-row">
                                                        <label class="lebel-abs">
                                                            Nhập lại Password
                                                            <strong class="red">
                                                                *
                                                            </strong>
                                                        </label>
                                                        <input type="password" class="input cpass" name="ConfirmPassword">
                                                        @Html.ValidationMessageFor(x => x.ConfirmPassword)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="your-details">
                                                <h5>
                                                    Địa chỉ của bạn
                                                </h5>

                                                <div class="form-row">
                                                    <label class="lebel-abs">
                                                        Địa chỉ
                                                        <strong class="red">
                                                            *
                                                        </strong>
                                                    </label>
                                                    <input type="text" class="input namefild" name="Address">
                                                </div>


                                                <p class="privacy">
                                                    <span class="input-radio">
                                                        <input type="radio" name="user">
                                                    </span>
                                                    <span class="text">
                                                        Tôi đã đọc và đồng ý với
                                                        <a href="about.html" class="red">
                                                            Chính sách Bảo mật
                                                        </a>
                                                    </span>
                                                </p>
                                                <button type="submit">
                                                    Tiếp tục
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="our-brand">
            <h3 class="title">
                <strong>
                    Nhãn hiệu
                </strong>
            </h3>
            <div class="control">
                <a id="prev_brand" class="prev" href="#">
                    &lt;
                </a>
                <a id="next_brand" class="next" href="#">
                    &gt;
                </a>
            </div>
            <ul id="braldLogo">
                <li>
                    <ul class="brand_item">
                        <li>
                            <a href="#">
                                <div class="brand-logo">
                                    <img src="/Assets/Client/images/envato.png" alt="">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="brand-logo">
                                    <img src="/Assets/Client/images/themeforest.png" alt="">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="brand-logo">
                                    <img src="/Assets/Client/images/photodune.png" alt="">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="brand-logo">
                                    <img src="/Assets/Client/images/activeden.png" alt="">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="brand-logo">
                                    <img src="/Assets/Client/images/envato.png" alt="">
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="brand_item">
                        <li>
                            <a href="#">
                                <div class="brand-logo">
                                    <img src="/Assets/Client/images/envato.png" alt="">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="brand-logo">
                                    <img src="/Assets/Client/images/themeforest.png" alt="">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="brand-logo">
                                    <img src="/Assets/Client/images/photodune.png" alt="">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="brand-logo">
                                    <img src="/Assets/Client/images/activeden.png" alt="">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="brand-logo">
                                    <img src="/Assets/Client/images/envato.png" alt="">
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
