@model List<FlatShop.Models.EF.MoreEF.CartItem>

<li class="option-cart">
    <a href="../Cart/Index" class="cart-icon">cart <span class="cart_no">@Model.Count</span></a>
    <ul class="option-cart-item">
        @{
            decimal TotalPrice = 0;
            foreach (var item in Model)
            {
                TotalPrice += item.Product.Price.GetValueOrDefault(0) * item.Quantity;
                <li>
                    <div class="cart-item">
                        <div class="image"><img src="/Assets/Client/images/@item.Product.Image" alt=""></div>
                        <div class="item-description">
                            <p class="name">@item.Product.Name</p>
                            <p>Cỡ: <span class="light-red">@item.Product.Size</span><br>Quantity: <span class="light-red">@item.Quantity</span></p>
                        </div>
                        <div class="right">
                            <p class="price">@item.Product.Price</p>
                        </div>
                    </div>
                </li>
            }
            <li><span class="total">Tổng cộng <strong>TotalPrice</strong></span> </li>
        }



    </ul>
</li>

