
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section css{
    
}
@section header{
    Chi tiết sản phẩm
}
<div class="panel panel-default">
    <div class="panel-heading">
        Striped Rows
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="col-md-2"></th>
                        <th class="col-md-8"></th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>ID</td>
                        <td>@Model.ID</td>
                    </tr>
                    <tr>
                        <td>Tên sản phẩm</td>
                        <td>@Model.Name</td>
                    </tr>
                    <tr>
                        <td>Mã sản phẩm</td>
                        <td>@Model.Code</td>
                    </tr>
                    <tr>
                        <td>MetaTitle</td>
                        <td>@Model.MetaTitle</td>
                    </tr>
                    <tr>
                        <td>Chi tiết</td>
                        <td>@Model.Description</td>
                    </tr>
                    <tr>
                        <td>Hình ảnh</td>
                        <td>@Model.Image</td>
                    </tr>
                    <tr>
                        <td>Hình ảnh khác</td>
                        <td>@Model.MoreImages</td>
                    </tr>
                    <tr>
                        <td>Giá</td>
                        <td>@Model.Price</td>
                    </tr>
                    <tr>
                        <td>Giá khuyến mãi</td>
                        <td>@Model.PromotionPrice</td>
                    </tr>
                    <tr>
                        <td>Bao gồm Vat</td>
                        <td>@Model.IncludeVAT</td>
                    </tr>
                    <tr>
                        <td>Nơi sản xuất</td>
                        <td>@Model.CountryID</td>
                    </tr>
                    <tr>
                        <td>Chất liệu</td>
                        <td>@Model.Material</td>
                    </tr>
                    <tr>
                        <td>Số lượng</td>
                        <td>@Model.Quantity</td>
                    </tr>
                    <tr>
                        <td>Nhãn hiệu</td>
                        <td>@ViewBag.BrandID</td>
                    </tr>
                    <tr>
                        <td>Danh mục sản phẩm</td>
                        <td>@ViewBag.CategoryID</td>
                    </tr>
                    <tr>
                        <td>Mô tả chi tiết</td>
                        <td style="height:100px;overflow-y:scroll">@Model.Detail</td>
                    </tr>
                    <tr>
                        <td>Trạng thái</td>
                        <td>@Model.Status</td>
                    </tr>
                    <tr>
                        <td>Màu sắc</td>
                        <td>@Model.Color</td>
                    </tr>
                    <tr>
                        <td>Cỡ</td>
                        <td>@Model.Size</td>
                    </tr>

                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
        <div class="row">

        </div>
    </div>
    <!-- /.panel-body -->
</div>

