

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section script{

     <!-- DataTables JavaScript -->
    <script src="/Assets/Admin/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/Assets/Admin/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="/Assets/Admin/vendor/datatables-responsive/dataTables.responsive.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/Assets/Admin/dist/js/sb-admin-2.js"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
                $(document).ready(function() {
                    $('#dataTables-example').DataTable({
                        responsive: true
                    });
                })
    </script>;
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    @*<script type="text/javascript">
                $(window).bind("load",function () {
                    var row = "<button class='btn btn-primary'>Thêm mới</button>";
                    $('#dataTables-example_filter > label').css({ "float": "left", "margin-right": "20px" })
                    $('#dataTables-example_filter').append(row);
                })
        </script>*@
}

@using FlatShop.Models.EF
@model List<Product>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                DataTables Advanced Tables
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">

                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <div class="form-group">
                        <a href="/Admin/Product/Insert" class="btn btn-primary">Thêm mới</a>
                    </div>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tên sản phẩm</th>
                            <th>Hình ảnh</th>
                            <th>Giá</th>
                            <th>Tác vụ</th>
                        </tr>
                    </thead>
                    <tbody>
                       @foreach (var item in Model)
                       {
                        <tr>
                            <td>@item.ID</td>
                            <td>@item.Name</td>
                            <td><img src=@string.Format("/Assets/Admin/images/"+item.Image) style="width:100px;height:100px;"></td>
                            <td>@item.Price</td>
                            <td>
                                @Html.ActionLink("Chi tiết", "Detail", new { ID = item.ID }) |
                                @Html.ActionLink("Sửa", "Update", new { ID = item.ID }) |
                                @Ajax.ActionLink("Xóa", "Delete", "Product", new { @id = item.ID }, new AjaxOptions
                                   {
                                       Confirm = "Bạn có muốn xóa "+item.Name+" không?",
                                       OnComplete = "$('#row_" + item.ID + "').remove()",
                                       HttpMethod = "Delete"
                                   })
                            </td>
                        </tr>
                       }
                    </tbody>
                </table>

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

